/* GENERICS  */

:root {
    --primary: #0084FD;
    --primary2: #9792E4;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

section {

    margin-top: 3rem;
    margin-bottom: 1.5rem;
    padding-bottom: 1.5rem;
}

a {
    color: white;
    text-decoration: none;
}

h1,
h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: var(--primary);
    font-weight: bold;
}

ul {
    list-style: none;
}

/* HEADER  */

header {
    background-color: var(--primary);
    color: white;
    font-size: 1.1rem;
    padding: 1rem 0;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

header ul {
    display: flex;
    gap: 3rem;
}

#burger-menu {
    display: none;
}

/* MAIN  */

/* FIRST CARDS SECTION  */

#cards .row {
    display: flex;
    flex-wrap: wrap;
}

#cards .col:first-child {
    width: calc(100% / 3 * 2);
    display: flex;
}

#cards .col:first-child>.card {
    display: flex;
    padding: 1rem 1rem 0 1rem;
}

#cards .big-col-content {
    width: 50%;
    text-align: left;
}

#cards .big-col-img {
    width: 50%;
    display: flex;
    align-self: flex-end;
    justify-content: center;
}

#cards .big-col-img img {
    max-width: 65%;
}

#cards .col {
    width: calc(100% / 3);
    padding: 1rem;
    display: flex;
    text-align: center;
}

#cards .card {
    background-color: #B5DDFF;
    border-radius: 20px;
    padding: 1rem;
}

.col .card>i {
    color: var(--primary);
    font-size: 5rem;
    margin-bottom: 2rem;
}


#cards p {
    line-height: 2em;
    font-weight: bold;
    margin-bottom: 2rem;
    color: #5A6E7F;
}

.btn.btn-blue {
    background-color: var(--primary);
    color: white;
    padding: .7rem 2.5rem;
    font-size: 1.2rem;
}

.btn.btn-blue .fa-brands {
    margin-right: .5rem;
}

/* STRATEGIC PLANNING  */

#strategic {
    background-color: var(--primary2);
    color: white;
}

#strategic .col {
    width: 50%;
    margin-top: 3rem;
    margin-right: 5rem;
}

#strategic .col img {
    margin-bottom: 5rem;
}

#strategic .col-app {
    width: 50%;

}

#strategic .row {
    align-items: flex-end;
    padding-bottom: 2rem;
}

#strategic .app-development {
    padding: 2rem;
    background-color: white;
    color: #333;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    text-align: center;
}

#strategic .app-development img {
    width: 70%;
}

#strategic .app-development .arrow-down {
    background-color: var(--primary2);
    border-radius: 30px;
    padding: 1rem;
    min-width: 3rem;
}

#strategic h2 {
    color: inherit;
    margin-bottom: 3rem;
}

#strategic h3 {
    font-weight: bolder;
}

#strategic p {
    line-height: 1.5em;
}

/* TESTIMONIALS  */

#testimonials h2,
#testimonials p {
    text-align: center;
}

#testimonials .testimonials-card {
    margin-top: 2rem;
    display: flex;
    background-color: var(--primary2);
    color: white;
    border-radius: 40px;
    padding: 2rem 1rem;
}

#testimonials .testimonial-statement {
    display: flex;
    align-items: center;
}

#testimonials .testimonial-picture {
    margin-right: 2rem;
}

#testimonials .testimonial-picture img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    max-width: 200px;
    object-fit: cover;
}

/* BENEFITS  */

#benefits {
    background-color: var(--primary2);
}

#benefits h2 {
    color: white;
    font-size: 3rem;
    padding: 3rem 0;
    text-align: center;
}

#benefits h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

#benefits .card p {
    color: #333;
    line-height: 1.2em;
    margin-bottom: 2rem;
}

#benefits .card div:first-child {
    font-size: 4rem;
    font-weight: bolder;
    margin-bottom: 1rem;
}

#benefits .row {
    flex-wrap: wrap;
}

#benefits .col {
    padding: 1rem;
    width: calc(100% / 3);
}

#benefits .col .card {
    background-color: white;
    border-radius: 30px;
    color: var(--primary2);
    padding: 2rem;
}

/* ABOUT US  */

#about .about-col {
    width: 70%;
    margin-right: 4rem;
}

#about .find-me {
    width: 30%;
}

#about h2 {
    font-size: 4rem;
    color: var(--primary2);
    margin: 2rem 0;
}

#about .about-col p {
    line-height: 2.5em;
    color: #333;
    font-size: 1.2rem;
    margin-bottom: 2rem;
}

#about .find-me {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#about .picture-box {
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: 2rem;
}

#about .find-me img {
    border-radius: 50%;
    width: 250px;
    height: 250px;
    max-width: 250px;
    object-fit: cover;
}

#about .find-me p {
    font-weight: bolder;
    color: var(--primary2);
    font-size: 2rem;
    padding: 0 2rem;
    margin-bottom: 2rem;
}

#about #quote {
    font-size: 16rem;
    color: var(--primary2);
    position: absolute;
    right: 10px;
    bottom: 15px;

}

/* GET STARTED  */

#get-started {
    text-align: center;
    background-color: var(--primary2);
    color: white;
}

#get-started .flex.container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#get-started span:first-child {
    color: hsl(243deg 59% 87%);
    margin: 4rem 0 1rem 0;
    display: inline-block;
}

#get-started h2 {
    font-size: 3rem;
    color: white;
    font-weight: bolder;
}

#get-started #free {
    font-size: 5rem;
    color: hsl(37deg 98% 68%);
    font-weight: bolder;
}

#get-started p {
    line-height: 2.5em;
    width: 50%;
    margin-bottom: 2rem;
}

#get-started #copyright {
    margin-top: 2rem;
    font-size: .8rem;
}

#get-started #copyright>a {
    text-decoration: underline;
}



/* ++++++++++++++++++++++++
RESPONSIVE
++++++++++++++++++++++++ */

/* TABLET  */
@media screen and (max-width: 768px) {

    /* HEADER  */

    header nav ul {
        display: none;
    }

    #burger-menu {
        display: block;
    }


    /* FIRST SECTION  */

    #cards .col:first-child>.card {
        flex-direction: column;
    }

    #cards .big-col-content,
    #cards .big-col-img {
        width: 100%;
    }

    #cards .big-col-img {
        margin-top: 3rem;
        justify-content: flex-start;
    }

    #cards .card {
        justify-content: space-between;
    }

    h1,
    #cards h2 {
        font-size: 1.1rem;
    }

    /* STRATEGIC SECTION  */

    #strategic .row {
        flex-direction: column;
        align-items: center;
    }

    #strategic .col {
        margin: 2rem 0;
        width: 100%;
    }

    #strategic .col-app,
    #strategic .col-app img {
        width: 100%;
    }

    /* BENEFITS SECTION  */

    #benefits .col {
        width: 50%;
    }

    /* ABOUT US  */

    #about .find-me {
        justify-content: flex-start;
    }
}

/* PHONE  */

@media screen and (max-width: 468px) {


    /* FIRST SECTION  */

    #cards .row {
        flex-direction: column;
    }

    #cards .col,
    #cards .col:first-child {
        width: 100%;
    }

    #cards .big-col-img {
        justify-content: center;
    }

    #cards .big-col-content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    /* TESTIMONIALS  */

    #testimonials .testimonials-card {
        flex-direction: column;
        align-items: center;
    }

    #testimonials .testimonial-picture {
        margin-bottom: 2rem;
        margin-right: 0;
    }

    /* BENEFITS SECTION   */

    #benefits .col {
        width: 100%;
    }

    #benefits h2 {
        font-size: 2rem;
    }

    /* ABOUT US  */

    .container.flex {
        flex-wrap: wrap;
    }

    #about .about-col,
    #about .find-me {
        width: 100%;
    }

    #about .about-col {
        margin: 0;
    }

    #about h2 {
        font-size: 3rem;
    }

    /* GET STARTED  */

    #get-started h2 {
        font-size: 2rem;
    }

    #get-started #free {
        font-size: 3rem;
    }

    #get-started p {
        width: 100%;
    }
}